{% extends 'app/base.html' %}
{% load i18n %}

{% block content %}
<section class="withBackgroundColor contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                {% language 'ro-ro' %}
                <form method="post" class="needs-validation">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="font-lg font-primary withPrimaryColor font-bold mb-0 pl-3">
                            {{ form.name.label }}
                        </label>
                        {{ form.name }}
                        <div class="invalid-feedback pl-3">
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-lg font-primary withPrimaryColor font-bold mb-0 pl-3">
                                    {{ form.location.label }}
                                </label>
                                {{ form.location }}
                                <div class="invalid-feedback pl-3">
                                    {{ form.location.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-lg font-primary withPrimaryColor font-bold mb-0 pl-3">
                                    {{ form.category.label }}
                                </label>
                                {{ form.category }}
                                <div class="invalid-feedback pl-3">
                                    {{ form.category.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-lg font-primary withPrimaryColor font-bold mb-0 pl-3">
                                    {{ form.schedule.label }}
                                </label>
                                {{ form.schedule }}
                                <div class="invalid-feedback pl-3">
                                    {{ form.schedule.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-lg font-primary withPrimaryColor font-bold mb-0 pl-3">
                                    {{ form.link.label }}
                                </label>
                                {{ form.link }}
                                <div class="invalid-feedback pl-3">
                                    {{ form.link.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-lg font-primary withPrimaryColor font-bold mb-0 pl-3">
                            {{ form.tags.label }}
                        </label>
                        {{ form.tags }}
                        <div class="invalid-feedback pl-3">
                            {{ form.tags.errors }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary mx-auto d-block" value="Trimite">
                </form>
                {% endlanguage %}
            </div>
        </div>
    </div>
</section>
{% endblock %}