{% extends 'app/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="row justify-content-center search-results-items">
        {% include 'app/back_button.html' %}
        <div class="search-item col-lg-3 col-md-2">
            <div class="search-item-wrapper item-detail">
                <img alt="" class="img-thumb" src="{{ object.image.url }}">
                <div class="content-wrapper">
                    <h3 class="font-xl font-primary withPrimaryColor font-bold mb-5 mt-0 text-center">{{ object.name }}</h3>
                    <ul class="tag-list mb-3">
                        <li class="tag-item">{{ object.location }}</li>
                        <li class="tag-item">{{ object.category }}</li>
                        <li class="tag-item">{{ object.tags }}</li>
                    </ul>
                    <p class="schedule">
                        <img src="{% static 'app/images/hotel.svg' %}" class="img-fluid" alt="">
                        {{ object.address }}
                    </p>
                    <p class="schedule">
                        <img src="{% static 'app/images/calendar.svg' %}" class="img-fluid" alt="">
                        {{ object.schedule }}
                    </p>
                    <p class="verify">
                        <img src="{% static 'app/images/check.svg' %}" alt="">
                        {% language 'ro-ro' %} {{ object.created_at }} {% endlanguage %}
                    </p>
                    <div class="text-center mt-auto">
                        <a href="{{ object.link }}" class="btn btn-secondary" target="_blank">Link catre site / social
                            media</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
