:root {
  /*Colors*/
  --color-bg: #eff2f9;
  --color-default: #fff;
  --color-default-text-: #000;
  --color-primary: #274782;
  --color-secondary: #dc2d4e;
  --color-content: #556380;
  --color-btn: #317eff;
  --color-cities: #7fa707;
  --color-categories: #f8a908;
  --color-border: #ddd;

  /*Fonts sizes*/
  --font-base: 10px;
  --font-xs: 1.4rem;
  --font-md: 1.8rem;
  --font-lg: 2.2rem;
  --font-xl: 3rem;
  --font-1xl: 3.6rem;

  /*Font family*/
  --font-primary: 'Nunito', 'Arial', sans-serif;
  --font-secondary: 'Roboto', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-base);
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-md);
  color: var(--color-content);
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.8;
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
}

/* Helpers classes */
.img-fluid {
  max-width: 100%;
}

/*Typography*/
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.font-xs {
  font-size: var(--font-xs);
}

.font-md {
  font-size: var(--font-md);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-1xl {
  font-size: var(--font-1xl);
}

@media all and (max-width: 767px) {
  .mobile-font-xl {
    font-size: var(--font-xl);
  }
}

.font-bold {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.heading {
  margin-top: 0;
  font-family: var(--font-primary);
  line-height: 1.2;
}

.withPrimaryColor {
  color: var(--color-primary);
}

.withSecondaryColor {
  color: var(--color-secondary);
}

.withCitiesColor {
  color: var(--color-cities);
}

.withCategoriesColor {
  color: var(--color-categories);
}

.withBackgroundColor {
  background: var(--color-bg);
}

.withBackgroundImage {
  background-position: center right;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media all and (max-width: 991px) {
  .withBackgroundImage{
    background-position: top right;
  }
}

@media all and (max-width: 767px) {
  .withBackgroundImage{
    background-image: none !important;
  }
}

.btn {
  border: .2rem solid transparent;
  border-radius: 5rem;
  color: var(--color-default);
  cursor: pointer;
  font-weight: 800;
  font-family: var(--font-secondary);
  font-size: var(--font-md);
  text-align: center;
  transition: all .3s ease;
  padding: 1.5rem 3rem;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background: var(--color-btn);
}

.btn-primary:hover {
  background: var(--color-default);
  border-color: var(--color-btn);
  color: var(--color-btn);
}

.btn-secondary {
  background: var(--color-categories);
}

.btn-secondary:hover {
  background: var(--color-default);
  border-color: var(--color-categories);
  color: var(--color-categories);
}

.btn-danger {
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-default);
}

.btn-danger:hover {
  background: var(--color-default);
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

@media all and (max-width: 767px) {
  .btn {
    padding: 1rem 1.5rem;
  }
}

.btn-small {
  font-size: var(--font-xs);
  padding: .5rem 1.5rem;
  line-height: 1.2;
}

/*Spacing*/

.m-0 {
  margin: 0;
}

.m-auto {
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pl-1 {
  padding-left: 1rem;
}

.px-15 {
  padding: 0 1.5rem;
}

.form-group-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

@media all and (max-width: 767px) {
  .form-group-wrapper {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  border-radius: 5rem;
  border: .2rem solid var(--color-border);
  background: var(--color-default);
  font-family: var(--font-secondary);
  padding-left: 1.5rem;
  height: 5rem;
  color: #6b7a97;
  font-weight: 500;
  font-size: 16px;
}

.form-group textarea {
  height: 15rem;
  border-radius: 2rem;
  padding-top: 2rem;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
}

/*Section style*/
.section {
  padding-top: 10rem;
  padding-bottom: 15rem;
}

@media all and (max-width: 767px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }
}

.section-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

@media all and (max-width: 767px) {
  .section-search {
    grid-template-columns: 1fr;
  }
  .section-search img {
    display: none;
  }
}

.section-results-counter {
  background: var(--color-default);
  box-shadow: 0 1rem 3rem 0 rgba(0,3,143,.1);
  border-radius: 3rem;
  display: grid;
  grid-template-areas: 'labels labels category cities';
  gap: 1.5rem;
  padding: 3rem;
  margin-top: -5rem;
}

@media all and (max-width: 767px) {
  .section-results-counter {
    grid-template-areas: 'labels labels' 'category cities'
  }
}

.section-results-counter-labels {
  grid-area: labels;
}

.section-results-category {
  grid-area: category;
}

.section-results-cities {
  grid-area: cities;
}

.section-results-counter-labels,
.section-results-item {
  display: flex;
  justify-content: center;
}

.section-results-counter-labels {
  flex-direction: column;
}

.section-results-item {
  text-align: center;
  align-items: center;
}

.section-results-item img {
  width: 5rem;
  margin-right: 3rem;
}

@media all and (max-width: 767px) {
  .section-results-item img {
    width: 3rem;
    margin-right: 2rem;
    margin-bottom: auto;
  }
}

.search-item-wrapper {
  box-shadow: 0 1rem 3rem 0 rgba(0,3,143,.1);
  border-radius: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  padding: 0 1.5rem 3rem 1.5rem;
  height: calc(100% - 16rem);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search-results-items .img-thumb {
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

@media all and (max-width: 767px) {
  .search-results-items img {
    max-width: 100%;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  padding: .5rem 1rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  background: var(--color-secondary);
  border-radius: 5rem;
  margin-bottom: .5rem;
  color: var(--color-default);
  font-family: var(--font-secondary);
}

.schedule {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
}

.schedule img {
  width: 3rem;
  margin: 0 1.5rem 0 0;
}

.verify {
  display: flex;
  align-items: flex-start;
}

.verify img {
  width: 3rem;
  margin: 0;
  margin-right: 1.5rem;
}

.contact-form {
  min-height: 100vh;
  padding: 5rem 0;
}

.modal-success .modal-body {
  padding: 7rem 5rem;
  border-radius: 2rem;
  text-align: center;
  font-size: var(--font-xl);
  color: var(--color-cities);
  font-weight: bold;
}

.modal-success .modal-content {
  border-radius: 2rem;
}

.modal-success .close {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 4rem;
  opacity: 1;
  color: var(--color-secondary);
  z-index: 1;
}

.modal-success .modal-body p {
  line-height: 1.2;
}

.heart {
  font-size: 3rem;
}

.item-detail {
    margin-top: 6rem;
}

@media all and (max-width: 767px) {
  .modal-success .modal-body {
    padding: 7rem 1.5rem 3rem 1.5rem;
  }

  .modal-success .modal-dialog {
    margin-top: 3rem;
  }

  .modal-success .modal-body .modal-success-message {
    font-size: 2rem;
  }

  .item-detail {
    margin-top: 2rem;
  }
}

#backToTop {
  position: fixed;
  bottom: 7rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--color-btn);
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
  cursor: pointer;
  box-shadow: 0 1rem 3rem 0 rgba(0,3,143,.1);
}

#backToTop::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: .2rem solid var(--color-default);
  border-left: .2rem solid var(--color-default);
  width: 30%;
  height: 30%;
  margin-top: .5rem;
}

#backToTop.show {
  pointer-events: all;
  opacity: 1;
}